@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.active {
  text-decoration: underline;
  background-color: #3617a53b;
}
.dark{
  color:white;
}
@custom-variant dark (&:where(.dark, .dark *));
